/* img#proddisp_img{
    margin-right: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
} */

/* #title_prod{
    text-align: center;
    padding-top: 3%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
} */

/* div.gap{
    width: 90%;
    margin: auto;
    height: 40%;

} */

marquee{
    font-size: large;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

footer#footer{
    min-height: 17vh;  
}

input#buton_view{
    text-decoration: none;
    border-style: none;
    background-color:rgb(245, 114, 36);
    margin: auto;
    width: 188.2px;
    height: 41.6px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

input#butoon_view:hover{
    background-color:rgb(208, 97, 32);
}